.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: rem(120);
    top: 120%;
    left: 50%;
    margin-left: rem(-60);
    background-color: $red;
    color: $white;
    text-align: center;
    padding: rem(5) 0;
    border-radius: rem(6);
   
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: rem(-5);
    border-width: rem(-5);
    border-style: solid;
    border-color: transparent transparent $red transparent;
  }