.c-homepage {
    $grid-breakpoint: 900px;

    .container {
        max-width: 65rem;
        margin: auto;
        padding: 3rem 1rem;
    
        @media(min-width: $grid-breakpoint) {
        padding: 5rem 1rem;
        }
      }

    h2 {

        margin: 0;
        line-height: 1;
        color: $red;
        @media (min-width: $grid-breakpoint) {
            justify-self: end;
        align-self: start;
        }
        @media (min-width: $screen-lg) {
            font-size: 2.5rem;

        }
      }
    .homepage-hero {
        padding: rem(150) 1rem rem(100);   
        @media (min-width: $screen-sm) {
        padding: rem(150) 1rem;   
        }     
        @media (min-width: $screen-md) {
            padding: rem(200) 1rem;
        }
    }

    .homepage-hero__title {
        font-weight: normal;
        color: $dark;
        font-size: 7vw;

        @media (min-width: $screen-sm) {
            font-size: 2.25rem;
        }

        @media (min-width: $screen-md) {
            font-size: 2.5rem;
        }
        @media (min-width: $grid-breakpoint) {
            font-size: 3rem;
        }
    }

    .homepage-hero__social {
        list-style: none;
        padding: 0;
        display: flex;
        position: absolute;
      }
      .homepage-hero__social-item {
          margin-right: 1rem;
      }
      
      .homepage-hero__social-link {
        position: relative;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        transition: transform .2s ease;
        &:hover {
          transform: translateY(-2px);
          transition: transform .2s ease;
        }
        svg {
          padding: 0.25rem;
          border: 2px solid $red;
          border-radius: 100%;
          width: 40px;
          color: white !important;
        }
      }
      .hp-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: rem(40);

        @media (min-width: $grid-breakpoint) {
        grid-column-gap: rem(60);
        grid-template-columns: 1fr 4fr;
        }
      }
    .work {

    }

    .portfolio__list {
        display: grid;
        grid-gap: 1rem;
        
        padding: 0;
        margin: 0;
        list-style: none;
        @media (min-width: $screen-sm) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .experience {

        .btn--line {
            margin-top: -2rem;
        }
    }

    .experience-box {
            grid-column: 1 / span 2;
        @media (min-width: $grid-breakpoint) {
        grid-column-start: 2;
        }

    }

    .experience-box__title {
        margin: 0;
        color: $red;
        font-size: 1.5rem;
        line-height: 1;
    }

    .experience-box__company {
        margin: 0;
        color: $dark;
        font-size: 1.25rem;
    }

    .experience-box__header {
        @media(min-width:$screen-md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    }

    .experience-box__date {
        color: $dark;
        font-weight: bold;
    }

    .experience-box__list {
        list-style-type: none;
        padding: 0;

        li {
            padding-left: 1.5rem;
            margin-bottom: 1rem;
            position: relative;

            &:before {
                content: '+';
                color: $red;
                position: absolute;
                left: 0;
                display: block;
                font-weight: bold;
                line-height: 1.75;
            }
        }
    }

    .experience-resume-btn {

        @media(min-width: $grid-breakpoint) {
            grid-column-start: 2;
        }
    }
    .about {


    }

    .skills-lists {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (min-width: $screen-sm) {
            grid-template-columns: 1.5fr 3fr 0.5fr;
        }
    }

    .skills-lists__title {
        color: $dark;
        text-transform: uppercase;
    }

    .skills-lists__list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0.975rem;

        @media (min-width: $screen-sm) {
            display: flex;
            flex-flow: wrap column;
            max-height: 13rem;
        }

        li {
            margin-bottom: 0.3rem;
        }
    }

}