@import "normalize";
@import "variables";
@import "buttons";
@import "animations";
@import "typography";
@import "layout";

//Base styles

*, *:before, *:after {
    box-sizing: border-box;
}

::selection {
    background: $red; /* WebKit/Blink Browsers */
    color: $white;
  }

body {
    background: $white;
    color: $color-body;
    font-size: 18px;
    font-family: $font-family-primary;
    font-weight: $font-normal;
    letter-spacing: .025rem;
    height: 100vh;

    @media (max-width: $screen-md) {
        &.no-scroll {
            overflow: hidden;
        }
    }
}

img {
    max-width: 100%;
}