.site-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    max-width: 65rem;
    margin: auto;
    padding: 4rem 1rem;
  }