.site-main {
    // display: grid;
    // grid-template-rows: auto;
    // grid-row-gap: rem(175);
    // min-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .container {
    max-width: 65rem;
    margin: auto;
    padding: rem(40) 1rem;
  }