{% extends "base.twig" %}

{% block hero %}
<h1>Hi, I’m <strong class="accent">Jeremy Samuel</strong>, and I’m a front-end designer. I design + animate + code experiences for the web and mobile devices.</h1>
{% endblock %}

{% block content %}
<section id="about"></section>
{% endblock %}